<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>The Barcode Number is: </h2>
    <h1><%= barcode %></h1>
    <img src='/images/xtuple.jpeg'></img>
  </body>
</html>